<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static "css/demo1.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1 class="display-4">Welcome to PRST PVT LTD.</h1>
        <p class="lead">Consider it done.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/empinfo" role="button">Click here to know the employee details</a>
        </p>
    </div>

  </body>
</html>
